# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env-файлы
.env
.env.*
!.env.example

# VS Code
.vscode/
.history/
*.code-workspace

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

# virtualenv
.venv/
venv/
env/
ENV/

# сборки / упаковка
.Python
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pyinstaller
*.manifest
*.spec

# логи / кеши / тесты
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter служебные (не сами ноутбуки!)
.ipynb_checkpoints/

# прочие инструменты
.python-version        # pyenv
.pyre/                 # Pyre
.idea                  # PyCharm

# ===== OS =====
**/.DS_Store
Thumbs.db

# ===== Проект-специфичное (опционально) =====
# Если данные/артефакты не нужны в Git — оставь.
# Если нужны — комментируй эти строки.
*events.out.tfevents.*
*.csv
*.zip
*.png

# Локальные истории/черновики
.history/

# FinRL & others
*.ipynb
.github/
docker/
docs/
examples/
finrl/
figs/
unit_tests/
.pre-commit-config.yaml
1.66.32
LICENSE
poetry.lock
pyproject.toml
README.md
setup.py
setup.cfg
vendor/
package-lock.json
session.json